@model DataListViewModel<Instructor>

@{
    ViewData["Title"] = "Instructors";
}

<partial name="_MessagePartial" />

<h1>Instructors List</h1>

<p class="mb-3">
    <a class="btn btn-outline-success" asp-action="Create">Create New</a>
</p>

<partial name="_SearchBar" />



@* Paging *@
<div id="instructors-list">
    <partial name="_InstructorsTablePartial" />
</div>


<partial name="_DeleteModal" />

@section Scripts {
    <script type="text/javascript">
        $(document).on("click", ".pagination a", function (e) {
            e.preventDefault();

            // Get the URL from the clicked pagination link
            var url = $(this).attr("href");

            // Use AJAX to load the data into the #instructors-list div
            $.get(url, function (data) {
                $('#instructors-list').html(data);
            });
        });
    </script>
}