@model DataListViewModel<Department>

@{
    ViewData["Title"] = "Departments";
}

<partial name="_MessagePartial" />

<h1>Departments List</h1>

<p class="mb-3">
    <a class="btn btn-outline-success" asp-action="Create">Create New</a>
</p>

<partial name="_SearchBar" />

<div id="departments-list">
    @* The table and pagination will be loaded dynamically via AJAX *@
    <partial name="_DepartmentsTablePartial" />
</div>

<partial name="_DeleteModal" model="Model"/>

@section Scripts {
    <script type="text/javascript">
        $(document).on("click", ".pagination a", function (e) {
            e.preventDefault();

            // Get the URL from the clicked pagination link
            var url = $(this).attr("href");

            // Use AJAX to load the data into the #departments-list div
            $.get(url, function (data) {
                $('#departments-list').html(data);
            });
        });
    </script>
}
