@model EducationalWebApplication.Models.CourseResult

@{
    ViewData["Title"] = "Score";
}

<h1>TraineeScore</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="TraineeScore">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Id" type="hidden">
            <div class="form-group">
                <label asp-for="Score" class="control-label"></label>
                <input asp-for="Score" class="form-control" />
                <span asp-validation-for="Score" class="text-danger"></span>
            </div>
            <input asp-for="CourseID" type="hidden">
            <input asp-for="TraineeID" type="hidden">
            <div class="form-group mt-2">
                <input type="submit" value="Create" class="btn btn-primary" /> | 
                <a class="btn btn-outline-secondary" asp-controller="Courses" asp-action="Index">Back to List</a>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
