<nav aria-label="Page navigation">
    <ul class="pagination">
        @if (Model.Page.HasPrevPage)
        {
            <li class="page-item">
                <a class="page-link" href="?pageNo=@(Model.Page.PageNo - 1)&search=@Model.Search&sortOrder=@Model.SortOrder">Previous</a>
            </li>
        }

        @for (var i = 1; i <= Model.Page.TotalPages; i++)
        {
            <li class="page-item @(Model.Page.PageNo == i ? "active" : "")">
                <a class="page-link" href="?pageNo=@i&search=@Model.Search&sortOrder=@Model.SortOrder">@i</a>
            </li>
        }

        @if (Model.Page.HasNextPage)
        {
            <li class="page-item">
                <a class="page-link" href="?pageNo=@(Model.Page.PageNo + 1)&search=@Model.Search&sortOrder=@Model.SortOrder">Next</a>
            </li>
        }
    </ul>
</nav>