<div class="mb-3">
    <form asp-action="Index" class="flex justify-content-center">
        <div class="nav justify-content-center">
            <input class="form-control d-inline w-50 me-1" type="search" name="search" value="@Model.Search" />
            <input class="btn btn-outline-primary" type="submit" value="Search" />
        </div>
    </form>
</div>
